:root {
  --ancho-grande: 900px;
  --ancho-mediano: 600px;
  --ancho-pequeno: 300px;
  --font-size: 19px;
}

html {
  overflow: auto;
}

body {
  font-family: "URWDin", sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  background-color: var(--arena);
}

h1 {
  padding: 60px 0px 0px 20px;
  font-weight: 400;
  font-size: 3em;
  width: 740px;
  line-height: 1em;
}

h2 {
  line-height: 1em;
}

p {
  margin-bottom: 1em;
}

section {
  width: 100%;
  padding-bottom: 80px;
}

section.no-pie {
  padding-bottom: 0px;
}

section.banner {
  padding: 40px 40px 40px 40px;
  font-size: 1.6em;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: 600;
}

a {
  text-decoration: underline;
}

a.menulink {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 4px;
}

a.menulink:hover {
  text-decoration: underline;
}

a.menulink:visited {
  color: var(--textColor);
}

.page-title {
  font-weight: bold;
  font-size: 3em;
  margin: 1em auto;
  text-align: center;
}
