---
import Menu from '../components/Menu.astro';
import Layout from '../layouts/Layout.astro';
import Icono2 from '../components/logos/Icono2.astro';
import LogoHorizontal from '../components/logos/Horizontal.astro';
---

<Layout title="About Monforte Technologies" color="azulon" background="arena">
  <Menu slot="menu">
    <a href=""><LogoHorizontal color="azulon" width="250px" /></a>
    <a class="menulink" href="">Blog</a>
    <a class="menulink" href="">Proyecto Minax</a>
</Menu>

<div class="fila">
  <div class="columna1">
    <h2>Misión</h2>
        <p>El desarrollo de la humanidad que se debe en gran medida a  la minería que ha puesto a su disposición una cantidad ingente de recursos, materiales y energéticos, se ve amenazado ahora por una serie de fenómenos, especialmente el agotamiento de los recursos no renovables y el calentamiento climático, que son ambos de escala global y de terrible pronóstico</p>

      <p>Muchas voces piden frenar el desarrollo para intentar minimizar el impacto de la actividad industrial en la tierra, pero desde nuestro punto de vista el fenómeno está demasiado avanzado y la única opción viable para frenarlo y revertirlo es la ingeniería a escala planetaria, para ello hay que incrementar la extracción de recursos a niveles que permitan crear procesos que reviertan los efectos sobre el clima de la actividad humana.</p>

      <p>Con este objetivo nuestra única opción consiste en avanzar la tecnología hasta lograr que nuestra civilización alcance el grado de desarrollo suficiente mediante la explotación de recursos terrestres y del espacio próximo lo más pronto posible.</p>

      <p>Para poder lograrlo apostamos a que es necesario dotar de autonomía a nuestras máquinas para que sean capaces de operar en ambientes a donde los humanos no podamos llegar como la corteza terrestre profunda, el fondo de los oceanos y el espacio y para lograr esa autonomía es necesario digitalizar por completo los procesos extractivos.</p>

      <p>Es en esta labor donde Monforte Technologies centra su actividad buscando unificar los esfuerzos desde la academia, la empresa e internet en la creación de una serie de herramientas que simplifiquen en la medida de lo posible la robotización de las labores mineras.</p>
  </div>

<div class="about">Esta es la página del proyecto profesional de Jorge Monforte González un Ingeniero de Minas que ha escogido enfocarse en el campo de la informática habiendose especializado en campos como la ciberseguridad, el aprendizaje automático, la visión artificial, la robótica autonoma y la programación web empleando su tiempo en el desarrollo de proyectos que acerquen las nuevas tecnologías a las labores mineras.</div>
    </div>

</Layout>
