---
import Base from '../layouts/Base.astro';
---

<Base title="Cookie Consent">
  <div class="cookieconsent">
  <script is:inline id="CookieDeclaration" src="https://consent.cookiebot.com/6b0dccc5-4a1c-49fa-a313-1c7b4bba6af7/cd.js" type="text/javascript" async></script>
  </div>
</Base>
<style>
.cookieconsent {
  margin-top: 3em;
}
</style>

