---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import {Image} from 'astro:assets';
import mineroOrdenador from '../images/minero-ordenador.png';
import robotMinero from '../images/robot-mina.png';
import centroDeDatos from '../images/datos-bajo-tierra.png';
import Horizontal from '../components/logos/Horizontal.astro';
import Apilado from '../components/logos/Apilado.astro';
import '../styles/comun.css';
import '../styles/colors.css';

---

<Layout title="Welcome to Monforte Technologies" color="azulon" background="arena">
  <div class="header" slot="header">
    <div class="header-wrapper">
      <Menu color="azulon" />
      <Horizontal color="azulon" />
    </div>
  </div>
  
<div class="remark">Nuestro objetivo es ofrecer una estrategia unificada frente a los retos que presenta la digitalización de las labores mineras, empleando para ello tecnologías abiertas.</div>

<div class="fila">
    <div class="columna1">
      <h2>Integramos TIC y Minería</h2>
      <h3>Software</h3>
      <p>Ponemos a disposición de nuestros clientes y usuarios a través de Internet repositorios curados de software seleccionados para cubrir las necesidades de la industria extractiva basandonos en distribuciones de software abierto y aportando programas desarrollados a la medida de las necesidades mineras cubriendo casos de usos comunes y particulares.</p>


      <h3>Hardware</h3>
      <p>Asistimos a las empresas de hardware en la creación de dispositivos válidos para la informatización de las labores mineras, adaptándose a las especificaciones dadas por los requerimientos del software además de los exigentes requisitos funcionales y ambientales..</p>

      <h3>Comunicaciones</h3>
      <p>A partir de los requerimientos funcionales del sistema informático y las necesidades de comunicación de la dirección facultativa desplegaremos las redes para tener al personal comunicado y todos los dispositivos digitales conectados, monitorizados y actualizados.</p>
    </div>
    <Image class="ilustracion" src={centroDeDatos} alt="Centro de datos bajo tierra" />
  </div>

<div class="fila">
  <Image class="ilustracion" src={mineroOrdenador} alt="Minero trabajando con su ordenador" />
  <div class="columna2">
  <h2>Gestionamos Todo el Ciclo de Vida del Software</h2>

  <h3>Desarrollo</h3>

      <p>Cara al desarrollo de software seguimos la filosofía ágil que se adapta muy bien a las herramientas y otros flujos de trabajo del mundo tecnológico. Hemos escogido la pila formada por los lenguajes de programación C, C++ y Python como base para nuestras soluciones lo que nos permite el desarrollo rápido de aplicaciones de alto rendimiento.</p>

  <h3>Seguridad</h3>
      <p>La seguridad es un criterio de primer nivel en nuestros desarrollos, buscando aplicar el principio de confianza cero en nuestros sistemas. Gestionamos integramente todas las facetas de la ciberseguridad como un proceso de mejora contínua buscando en todo momento tener nuestras soluciones actualizadas y verificadas.</p>

  <h3>Operaciones</h3>
      <p>Automatizamos todo el ciclo de vida del software a partir de su desarrollo, testeo, empaquetamiento, distribución, instalación, monitorización y mantenimiento, usando para ello herramientas abiertas y documentadas.</p>
  </div>
</div>


<div class="fila">
  <div class="columna1">
      <h2> Aplicamos Tecnologías Disruptivas</h2>
      <p>
      <h3>Robotización Autónoma</h3>

      <p>El desarrollo de hardware y software que permite dotar a la maquinaria de una percepción de su entorno anuncia una era de máquinas que no necesitan de operarios humanos para poder llevar a cabo su cometido. Si bien esta cuestión no está completamente resuelta si se tienen los indicios suficientes de como integrar los sistemas informáticos que lo permitan.</p>

      <h3>Internet de las Cosas</h3>

      <p>Las posibilidades que proporcionan la miniaturización y abaratamiento del hardware en los entornos mineros son enormes pero conllevan un incremento en la complejidad de los sistemas de control que requiere una sistematización que abarca todo el ciclo de vida de uso de estos dispositivos.</p>

      <h3>Inteligencia Artificial</h3>

      <p>La generación y uso de modelos construidos mediante técnicas de aprendizaje automático y otras tecnologías del campo de la inteligencia artificial están revolucionando todos los ámbitos de la actividad humana. Nuestra apuesta es asistir a las empresas mineras en todo el ciclo de vida de este tipo de aplicaciones tecnológicas.
  </div>
  <Image class="ilustracion" src={robotMinero} alt="Robot antropomorfo con un pico en una mina" />
</div>
</Layout>

<style>

.header {
  background-color: var(--arena-oscuro);
}

.header-wrapper {
  width: 900px;
  padding-bottom: 1em;
  margin: 0 auto 2em auto;
}


img {
  width: 48%;
  height: auto;
}

.remark {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 2em;
}

.fila {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.columna1,
.columna2 {
  margin-bottom: 4em;
}


.columna1 p, .columna2 p {
  text-align: justify;
  hyphens: auto;
}

@media (width > 900px) {
  .header-wrapper {
    width: 900px;
  }
  div.columna1,
  div.columna2 {
    width: 96%;
    margin: 0 2%;
  }
}

@media (600px <= width <= 900px) {
  .header-wrapper {
    width: 100%;
  }
  div.columna1,
  div.columna2 {
    width: 96%;
    margin: 0 2%;
    margin-bottom: 0;
  }
}

@media (width < 600px) {
  img.ilustracion {
    display: none;
  }
  div.columna1,
  div.columna2 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0;
  }
}

@media (300px <= width <= 600px) {
  .header-wrapper {
    width: 100%;
  }
}

</style>
