---
---
<div class="fila">
  <div class="columna1">
      <h2 id="minax">Proyecto Minax</h2>

      <h3>Enfoque Total</h3>
      <p>El objetivo de este proyecto es poner bajo el control del director facultativo y la propiedad todos los sistemas informáticos que operen en la explotación proporcionando además de una distribución de software una arquitectura informática centralizada así como un conjunto de herramientas para su control, monitorización y mantenimiento.</p>

      <h3>Casos de Uso</h3>
      <p>Para lograr este objetivo este proyecto se centrará en como resolver una serie de casos de uso comunes y futuribles de la informática en la minería y para ello proveerá el código y las recetas necesarias para que un informático de sistemas promedio pueda implementarlas.</p>

      <h3>Automatización y Supervisión</h3>
      <p>Buscamos reducir al máximo la deuda tecnológica utilizando sistemas de integración contínua y despliegue continuo lo que permite tener todo el software actualizado através de la red y a su vez bajo estrecha supervisión al distribuirse el software desde los repositorios de software supervisados.</p>
    </div>
  </div>

<style></style>
